.products-category{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    justify-content: center;
}
.card{
    width: 300px;
    height: 300px;
    padding: 16px;
    box-shadow: 3px 3px 3px gray;
    
}
.seeallbtn{
    background-color: rgb(255, 106, 0);
    width: 70px;
    border: 1px solid rgb(244, 160, 2);
    color: aliceblue;
    border-radius: 5px;
    margin-bottom: 2px;
}

